body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

footer {
    font-size: 18px;
    text-align: center;
    background-color: aqua;
    padding: 14px;
    
}

#canvas-container {
    padding: 30px;
    box-shadow: .5px 3px 2px 3px rgb(240, 239, 239);
    border-radius: 10px;

}

#grid-container {
    width: 900px;
    align-items: stretch;
}

.row {
    display: flex;
}

.cell {
    border: .2px solid rgb(196, 190, 190);
    background-color: rgb(226, 226, 226);
    min-width: 5px;
    min-height: 5px;
    aspect-ratio: 1/1;
    flex-grow: 1;
    box-sizing: border-box;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(30, 27, 184);
}

#divGridSize {
    padding: 0 20px;
    font-size: 16px;
    width: 200px;
    border-radius: 20px;
    box-shadow: .5px 3px 2px 3px rgb(240, 239, 239);
}

#divGridSize input {
    width: 100%;
}

#inputColorPicker {
    border: none;
    height: 40px;
}

#inputColorPicker:hover, #txtGridSize:hover {
    cursor: pointer;
    transition: all .2s ease;
    transform: translateY(-1px);
}

#divGridSize button {
    padding: 3px 20px;
    font-size: 16px;
}

.buttonContainer > [type=button]:hover {
    cursor: pointer;
    border: 1px solid rgb(107, 107, 255);
    transition: all .3s ease;
    transform: translateY(-3px);
}

.buttonContainer > input[type=button] {
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    text-align: left;
}

.active {
    background-color: red; 
    color: white;
}