main {
    display: flex;
    flex: auto;
}

#grid-container {
    /* display: flex; */
    width: 900px;
    align-items: stretch;
}

.row {
    display: flex;
}

.cell {
    border: .2px solid rgb(196, 190, 190);
    background-color: rgb(226, 226, 226);
    min-width: 5px;
    min-height: 5px;
    aspect-ratio: 1/1;
    /* height: 100%; */
    flex-grow: 1;
}

.cell:hover {
    background-color: rgb(30, 27, 184);
}